<p>There is something wrong</p>
<p>
  <strong>Name:</strong>
  <%= @course.name %><p>lll</p>
</p>

<p>
  <strong>User:</strong>
  <%= @course.user_id %>
</p>

<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>
